* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

.header,
.hero-section {
  padding: 0 200px;
  padding-bottom: 80px;
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 500px;
}

.subtext {
  padding: 15px 0;
}

.hero {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.cta {
  background-color: #3882f6;
  border: none;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
}

.box {
  margin: 100px 200px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.button {
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
}

.button-inside-cta {
  border: solid 2px #e5e7eb;
}

.header a,
.hero-section .subtext {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

nav li {
  display: inline;
  margin-left: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.info-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.pictures {
  display: flex;
  gap: 50px;
}

.pictures img {
  border: #3882f6;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 200px;
}

.pictures div {
  text-align: center;
  width: 200px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
  padding: 70px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  text-align: end;
}

.quote-author {
  font-size: 20px;
  font-weight: 900;
}

.cta-header {
  font-size: 24px;
  padding-bottom: 2px;
}

.cta-subtext {
  font-weight: normal;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 20px;
}
